<div class="container">

  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="input very-little">
          <input matInput placeholder="Quantidade de sorteios" [(ngModel)]="this.uploadFilesService.winnersQuantity" oninput="this.value = this.value.toUpperCase()">
      </mat-form-field>
    </div>
  </div>

  <mat-form-field>
    <div>
      <mat-toolbar>
        <input matInput [value]="readExcel.fileName ? readExcel.fileName : 'Clique aqui para enviar o arquivo (.xlsx) com o nome dos sorteados'" />
      </mat-toolbar>

      <input type="file" appUploadFiles accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="uploadImages" name="uploadImages" #readExcel="readExcel"/>
    </div>
  </mat-form-field>

  <div *ngIf="readExcel.message" class="message">
    <li>{{ readExcel.message }}</li>
  </div>

  <mat-form-field>
    <div>
      <mat-toolbar>
        <input matInput [value]="selectedFileNames.length ? selectedFileNames : 'Clique aqui para enviar as imagens dos prêmios'" />
      </mat-toolbar>

      <input type="file" id="uploadImages" name="uploadImages" accept="image/png, image/jpeg" multiple (change)="selectFiles($event)" />
    </div>
  </mat-form-field>

  <div>
    <img *ngFor='let preview of previews' [src]="preview" class="preview" > uhul
  </div>

  <div *ngIf="message.length" class="message">
    <ul *ngFor="let msg of message; let i = index">
      <li>{{ msg }}</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button mat-flat-button color="primary" routerLink="">
        Voltar
      </button>
    </div>

    <div class="col-md-6" align="end">
      <button mat-flat-button color="primary" [disabled]="(this.uploadFilesService.prizes.length == 0 || this.uploadFilesService.participants.length == 0)" routerLink="/winner">
        Sortear
      </button>
    </div>
  </div>
</div>
