<ol class="breadcrumb mb-4" *ngIf="error">
  <h3 class="sub-title">O Número de sorteados não bate com o número de prêmios.</h3>
</ol>


<div class="row">
  <div class="col-md-4">
    <button mat-flat-button color="primary" routerLink="/upload-files">
      Voltar
    </button>
  </div>

  <div class="col-md-4" align="midle">
    <button mat-flat-button color="primary" (click)="raffle()">
      De novo
    </button>
  </div>

  <div class="col-md-4" align="end">
    <button mat-flat-button color="primary" routerLink="">
      Início
    </button>
  </div>
</div>
